font-family = "IosevkaTerm Nerd Font Mono"

# Disable ligatures
# TODO make this toggle-able
font-feature = "-calt"
font-feature = "-clig"
font-feature = "-dlig"
font-feature = "-liga"

theme = "tokyonight-storm"

# Quick terminal
quick-terminal-position = "center"
keybind = global:cmd+grave_accent=toggle_quick_terminal

# Let zellij handle tab management/navigation
keybind = super+n=unbind
keybind = super+w=unbind
keybind = super+alt+left=unbind
keybind = super+alt+right=unbind
